@tailwind base;
@tailwind components;
@tailwind utilities;




@media(min-width:563px) {
    .sigh{
        display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      /* margin-left: -20px; */
      gap: 15px;

    }
    
    .siuuu{
        display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      /* margin-left: -20px; */
      gap: 15px;
    }
    
}

@media(min-width:1024px) {
    .sigh{
        display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      /* margin-left: -20px; */
      gap: 15px;

    }
    
    .siuuu{
        display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      /* margin-left: -20px; */
      gap: 15px;
    }
    
}
@media(max-width:653px) {
    .sigh{
        display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      /* margin-left: -20px; */
      gap: 15px;

    }
    .sigh div{
        width: 320px;
    }
    .siuuu div{
        width: 320px;
    }


    .siuuu{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        /* margin-left: -20px; */
        gap: 15px;
    }
}

@media(max-width:559px) {
    .sigh{
      display: flex;
      flex-direction: column;
      align-items: center;
     margin-left: -27px;
    }
    
    .siuuu{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -27px;
    
}

}

/* @keyframes moveLeftToRight {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(150%);
  }
}

.scrolling-text {
  white-space: nowrap;
  overflow: hidden;
  animation: moveLeftToRight 10s linear infinite;
} */