@tailwind base;
@tailwind components;
@tailwind utilities;



.primary{
    color:#DE1D80;
}
.bg-primary{
    background-color:#DE1D80;
    color: white;
}


.watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); /* Rotate the text by -45 degrees */
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1); /* Set the color to a semi-transparent black */
    pointer-events: none; /* Ensure the watermark doesn't interfere with mouse events */
  }
  

  .confirmation-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  
  